.barChartBox {
    width: 80%;
}

#pieChart {
    height: 700px;
}
.noHits_table {
    height: 250px;
    overflow: scroll;
    display: flex;
    justify-content: center;
}

table {
    width: 80%
}

table, th, td{
    border: 1px solid black;
}

th {
    background-color: green;
}

h3 {
    text-align: center;
}